<%- if flash.any? %>
  <div class="toasts">
    <%- flash.each do |type, message| %>
      <div data-controller="toast" class="toast <%= type %>" role="alert">
        <div></div>
        <div class="message"><%= message %></div>
        <a href="#" class="close" data-action="toast#hide">&#10005;</a>
      </div>
    <% end %>
  </div>
<% end %>
