<div id="<%= dom_id publisher %>">
  <p>
    <strong>Year of publication:</strong>
    <%= publisher.year_of_publication %>
  </p>

  <p>
    <strong>Name:</strong>
    <%= publisher.name %>
  </p>

</div>
