<div class="profile">
  <div class="card">
    <div class="name"><%= current_user.name %></div>
    <div class="title">Penalty</div>
  </div>
  <div class="title">Current Book</div>
  <div class="title">Wishlist</div>
  <div class="title">History</div>
</div>

