<div class="search">
  <%= form_with url: user_book_search_path, method: :get do |form| %>
    <%= form.search_field :query %>
    <%= form.button nil, type: "submit" do %>
      &#128269
    <% end %>
  <% end %>
</div>
