<% content_for :title, "Editing lending" %>

<h1>Editing lending</h1>

<%= render "form", lending: @lending %>

<br>

<div>
  <%= link_to "Show this lending", @lending %> |
  <%= link_to "Back to lendings", lendings_path %>
</div>
