<p style="color: green"><%= notice %></p>

<% content_for :title, "Lendings" %>

<h1>Lendings</h1>

<div id="lendings">
  <% @lendings.each do |lending| %>
    <%= render lending %>
    <p>
      <%= link_to "Show this lending", lending %>
    </p>
  <% end %>
</div>

<%= link_to "New lending", new_lending_path %>
