<p style="color: green"><%= notice %></p>

<% content_for :title, "Lendings" %>

<div class="head">
  <div class="title">Book Lendings</div>
  <%= link_to "New Lending", new_lending_path %>
</div>

<div id="lendings" class="lendings">
  <% @lendings.each do |lending| %>
      <%= render lending %>
  <% end %>
</div>
