/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS (and SCSS, if configured) file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */

.container {
  width: 100%;
  max-width: 80rem;
  margin-inline: auto;
  min-height: 100vh;

  &>* {
    padding-inline: 1rem;
  }
}

nav {
  background-color: var(--ghost-white);
  color: var(--jet-black);
  height: 4rem;
  display: flex;
  border-bottom: 1px solid var(--olivine);
  justify-content: space-between;
  border-radius: 3%;
  align-items: center;
  margin-bottom: 5px;

  & .header>a {
    display: flex;
    justify-content: space-between;
    text-decoration: none;

    & span {
      font-size: 1.5rem;
      font-weight: bold;
      margin-left: 10px;
    }
  }

  & .menu {
    & .link+.link {
      margin-left: 0.5rem;
    }

    & .link {
      height: 100%;
      display: inline-block;
      align-content: center;
      padding-inline: 0.5rem;

      a {
        text-decoration: none;
        font-weight: 500;
      }

      &:hover {
        box-shadow: inset 0 -3px 0 var(--tea-green);
      }

      &.active {
        box-shadow: inset 0 -3px 0 var(--olivine);
      }
    }

    height: 100%;
  }

  & .access {
    display: flex;

    &>a,
    form>button {
      padding: 0.4rem 0.6rem;
      border-radius: 7%;
      background-color: var(--tea-green);
      color: var(--raisin-black);
      text-decoration: none;
      font-weight: 600;
      transition: background-color 0.3s ease;
      border: none;
      cursor: pointer;

      &:hover {
        background-color: var(--olivine);
      }
    }

    &>form>button {
      padding: 0.6rem 0.6rem;
    }

    &>*:first-child {
      margin-right: 10px;
    }
  }
}

.form {
  display: flex;
  flex-direction: column;
  align-content: flex-center;

  & form {
    max-width: 400px;
    width: 100%;
    margin-inline: auto;

    padding: 1rem;
    border-radius: 1%;

    h2 {
      font-weight: 500;
      margin-inline: auto;
      width: fit-content;
      margin-bottom: 20px;
    }

    & .field {
      width: 100%;

      & label {
        font-size: 0.8rem;
      }

      & input,
      textarea,
      select {
        width: 100%;
        border: 1px solid var(--olivine);
        padding: 8px 10px;
      }

      & input[type="file"] {
        display: none;
      }

      & .custom_file_upload {
        border: 1px solid var(--olivine);
        padding: 10px 10px;
        display: flex;
        gap: 10px;
        cursor: pointer;
        width: 100%;
        align-content: center;
        align-items: center;
        font-size: 0.9rem;
        font-weight: 500;

        & svg {
          width: 20px;
          height: 20px;
        }
      }
    }

    & .field+.field {
      margin-top: 7px;
    }

    .actions {
      margin: 10px 0;

      input {
        padding: 8px 16px;
        background-color: var(--olivine);
        border-radius: 7px;
        display: inline-block;
        text-align: center;
        text-decoration: none;
        border: none;
        transition: all 0.3s ease;

        &:hover {
          color: var(--ghost-white);
          background-color: var(--jet-black);
          cursor: pointer;
        }
      }
    }
  }
}

.toasts {
  position: fixed;
  bottom: 0;
  width: 70%;
  margin-inline: auto;
  display: flex;
  flex-direction: column;
  z-index: 2;
  padding: 1rem;

  &>.toast {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    max-width: 20rem;
    border-radius: 10px;
    padding: 1rem;
    opacity: 70;
    margin-bottom: 1rem;

    &.hidden {
      display: none;
    }

    &.success {
      background-color: rgb(190, 242, 100);
    }

    &.suggeston {
      background-color: rgb(250, 204, 21);
    }

    &.notice {
      background-color: rgb(134, 239, 172);
    }

    &.alert {
      background-color: rgb(252, 165, 165);
    }

    &>.close {
      font-size: 1.5rem;
      text-decoration: none;
    }
  }
}