/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
* listed below.
 *
 * Any CSS (and SCSS, if configured) file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */

body {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  justify-content: space-between;

  .container {
    width: 100%;
    max-width: 80rem;
    margin-inline: auto;

    &>* {
      padding-inline: 1rem;
    }
  }

  footer {
    text-align: center;  
    border-top: 1px solid var(--olivine);
    padding: 10px;
  }
}


nav {
  background-color: var(--ghost-white);
  color: var(--jet-black);
  height: 4rem;
  display: flex;
  border-bottom: 1px solid var(--olivine);
  justify-content: space-between;
  border-radius: 3%;
  align-items: center;
  margin-bottom: 5px;

  & .header>a {
    display: flex;
    justify-content: space-between;
    text-decoration: none;

    & span {
      font-size: 1.5rem;
      font-weight: bold;
      margin-left: 10px;
    }
  }

  & .menu {
    & .link+.link {
      margin-left: 0.5rem;
    }

    & .link {
      height: 100%;
      display: inline-block;
      align-content: center;
      padding-inline: 0.5rem;

      a {
        text-decoration: none;
        font-weight: 500;
      }

      &:hover {
        box-shadow: inset 0 -3px 0 var(--tea-green);
      }

      &.active {
        box-shadow: inset 0 -3px 0 var(--olivine);
      }
    }

    height: 100%;
  }

  & .access {
    display: flex;

    &>a,
    form>button {
      padding: 0.4rem 0.6rem;
      border-radius: 7%;
      background-color: var(--tea-green);
      color: var(--raisin-black);
      text-decoration: none;
      font-weight: 600;
      transition: background-color 0.3s ease;
      border: none;
      cursor: pointer;

      &:hover {
        background-color: var(--olivine);
      }
    }

    &>form>button {
      padding: 0.6rem 0.6rem;
    }

    &>*:first-child {
      margin-right: 10px;
    }
  }
}

.form {
  display: flex;
  flex-direction: column;
  align-content: flex-center;

  & form {
    max-width: 400px;
    width: 100%;
    margin-inline: auto;

    padding: 1rem;
    border-radius: 1%;

    h2 {
      font-weight: 500;
      margin-inline: auto;
      width: fit-content;
      margin-bottom: 20px;
    }

    & .field {
      width: 100%;

      & label {
        font-size: 0.8rem;
      }

      & input,
      textarea,
      select {
        width: 100%;
        border: 1px solid var(--olivine);
        padding: 8px 10px;
      }

      & input[type="file"] {
        display: none;
      }

      & .custom_file_upload {
        border: 1px solid var(--olivine);
        padding: 10px 10px;
        display: flex;
        gap: 10px;
        cursor: pointer;
        width: 100%;
        align-content: center;
        align-items: center;
        font-size: 0.9rem;
        font-weight: 500;

        & svg {
          width: 20px;
          height: 20px;
        }
      }
    }

    & .field+.field {
      margin-top: 7px;
    }

    .actions {
      margin: 10px 0;

      input {
        padding: 8px 16px;
        background-color: var(--olivine);
        border-radius: 7px;
        display: inline-block;
        text-align: center;
        text-decoration: none;
        border: none;
        transition: all 0.3s ease;

        &:hover {
          color: var(--ghost-white);
          background-color: var(--jet-black);
          cursor: pointer;
        }
      }
    }
  }
}

.toasts {
  width: 100%;
  margin-inline: auto;
  display: flex;
  flex-direction: column;

  &>.toast {
    display: flex;
    border-radius: 5px;
    align-items: center;
    width: 100%;
    padding: 0.5rem 1rem;
    opacity: 70;
    justify-content: space-between;

    &.hidden {
      display: none;
    }

    &.success {
      background-color: rgb(190, 242, 100);
    }

    &.suggeston {
      background-color: rgb(250, 204, 21);
    }

    &.notice {
      background-color: rgb(134, 239, 172);
    }

    &.alert {
      background-color: rgb(252, 165, 165);
    }

    &>.close {
      font-size: 1.3rem;
      color: inherit;
      text-decoration: none;
    }
  }
}

.welcome {
  font-size: 1.7rem;
  line-height: 1.8;
}

.books {
  border-radius: 5px;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(170px, 1fr));
  gap: 10px;

  &>.book {
    height: 250px;
    max-width: 200px;
    border: 1px solid var(--tea-green);
    border-radius: 5px;

    &>a {
      text-decoration: none;
      display: flex;
      height: 100%;
      padding: 0.5rem;
      flex-direction: column;
      text-align: center;
      justify-content: space-between;

      &>svg, img {
        margin-inline: auto;
        object-fit: contain;
      }

      &>.title {
        height: 50px;
      }
    }
  }
  &>.see-more {
    height: 250px;
    border: 1px solid var(--tea-green);
    border-radius: 5px;

    &>a {
      text-decoration: none;
      height: 100%;
      align-items: center;
      text-align: center;
      font-size: 1.5rem;
      display: flex;
      justify-content: space-around;
      flex-direction: column;

      &>.arrow {
        font-size: 3rem;
        width: fit-content;
        border-radius: 50%;
      }
    }
  }
}

.section {
  &>.hr {
    border-bottom: 0.5px solid var(--tea-green);
    margin: 1rem 0;
  }

  & .section-title {
    padding: 1rem 0;
    font-size: 1.5rem;
    font-weight: 500;
  }
}

.show-book {
  padding: 1rem 0;
  display: flex;
  gap: 2rem;

  &>.hero {
    width: 30%;
    display: flex;
    flex-direction: column;

    &>* + * {
      margin-top: 20px;
    }

    &>* {
      margin-inline: auto;
    }

    &>img, svg {
      width: 300px;
      object-fit: contain;
    }

    &>.btn {
      padding: 0.5rem 1rem;
      text-decoration: none; 
      border-radius: 5px;
      font-size: 1.2rem;
      font-weight: 600;
      text-align: center;
      color: inherit;
      width: 100%;
      max-width: 300px;

      &.request {
        outline: 1px solid var(--olivine);
      }
      &.wishlist {
        background-color: var(--olivine);
      }
      &.disabled {
        outline: none;
        border: none;
        background-color: var(--gray-goose);
        cursor: unset;
      }
    }

  }

  &>.details {
    width: 65%;
    background-color: var(--oliivne);
    margin-top: 20px;

    & > * + * {
      margin-top: 20px;
    }

    &>.title-section  {
      display: flex;
      width: 100%;
      justify-content: space-between;
      align-items: center;

      &>.title {
        font-size: 2.3rem;
        font-weight: 800;
      }

      &>.share-btn {
        text-decoraton: none;
        color: inherit;
        height: 100%;
        svg {
          height:2rem;
          width:2rem;
        }
      }
    }

    &>.meta-info {
      display: flex;
      justify-content: space-between;
      align-items: center;

      &>.author-name {
        font-size: 1.7rem;
      }

      &>.genre {
        font-size: 1.2rem;
        font-weight: 600;
        color: var(--french-gray);
      }
    }

    &>.rating {
      font-size: 1.3rem;
    }

    &>.description {
      &>.title {
        font-size: 1.5rem;
        font-weight: 600;
      }

      &>.content {
        font-size: 1.2rem;
        color: var(--french-gray);
      }
    }

    &>.book-section {
      &>.title {
        font-size: 1.5rem;
        font-weight: 600;
      }
    }
  }
}

.search {
  form {
    margin: 2rem 0;

    width: 90%;
    margin-inline: auto;
    display: flex;
    align-items: center;
    gap: 20px;

    input {
      padding: 1rem;
      width: 90%;
      border-radius: 10px;
      border: 1px solid var(--tea-green);
    }

    button {
      border: none;
      padding: 0.7rem;
      cursor: pointer;
      border: 1px solid var(--tea-green);
      border-radius: 5px;
      font-size: 1.5rem;
      text-align: center;
      align-items: center;
    }
  }
}

.profile {
  .card {
    box-shadow: 1px solid var(--olivine);
    border-radius: 5px;
    padding: 1rem 0;
    .name {
      font-size: 2rem;
      font-weight: 600;
    }
  }
  .title {
    font-size: 1.5rem;
    line-height: 1.7rem;
  }

}

.dashboard {  display: grid;
  margin: 20px 0;
  padding: 10px;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows: 1fr 1fr 1fr;
  grid-auto-columns: 1fr 1fr 1fr 1fr 1fr;
  grid-auto-rows: min-content;
  gap: 15px 15px;
  grid-auto-flow: row;
  grid-template-areas:
    "currently-lent total-available-books total-books"
    "total-book-returned total-book-given total-penalty"
    "total-users total-authors total-publications";

  &>* {
    min-height: 200px;  
    min-width: 100px;  
    border-radius: 10px;
    padding: 10px;
    text-decoration: none;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    color: inherit;
    text-align: center;
    
    .title {
      font-size: 1.7rem;
      font-weight: 600;
    }
    .value {
      font-size: 3rem;
      font-weight: 600;
    }
  }

  &>*:hover {
    filter: brightness(110%);
  }

  .currently-lent { 
    grid-area: currently-lent; 
    background-color: var(--olivine);
  }

  .total-available-books { 
    grid-area: total-available-books; 
    background-color: var(--cool-gray);
  }

  .total-books { 
    grid-area: total-books; 
    background-color: var(--french-gray);
    color: var(--ghost-white);
  }

  .total-book-returned { 
    grid-area: total-book-returned;
    background-color: var(--ut-orange);
  }

  .total-book-given { 
    grid-area: total-book-given; 
    background-color: var(--gray-goose);
  }

  .total-penalty { 
    grid-area: total-penalty; 
    background-color: var(--jet-black);
    color: var(--ghost-white);
  }

  .total-users { 
    grid-area: total-users; 
    background-color: var(--marian-blue);
    color: var(--ghost-white);
  }

  .total-authors {
    grid-area: total-authors; 
    background-color: var(--raisin-black);
    color: var(--ghost-white);
  }

  .total-publications {
    grid-area: total-publications; 
    background-color: var(--brown);
  }
}
.head {
  display: flex;
  justify-content: space-between;
  margin: 20px 0;
  align-items: center;

  .title {
    font-size: 1.5rem;
    font-weight: 600;
  }

  a {
    background-color: var(--tea-green);
    padding: 0.5rem 1rem;
    border-radius: 5px;
    text-decoration: none;

    a:hover {
      background-color: var(--olivine);
    }
  }
}

.lendings {
  margin-top: 20px;


  .lending + .lending {
    margin-top: 20px;
  }

  .lending {
    margin-inline: auto;
    display: flex;
    justify-content: space-between;
    text-decoration: none;
    color: inherit;
    width: 100px;
    background-color: var(--gray-goose);
    width: 100%;
    max-width: 900px;
    padding: 10px 20px;
    border-radius: 7px;

    .book {
      width: 55%;
      display: flex;
      gap: 10px;

      .cover {
        height: 80px;
        min-width: 70px;
        display: flex;
        justify-content: center;
        align-items: center;
      }

      .title_section {
        flex-direction: column;
        display: flex;
        justify-content: space-between;

        .title {
          font-size: 1.3rem;
          font-weight: 600;
        }

        .author {
          .font-size: 1rem;
        }
      }
    }

    .info {
      display: flex;
      alight-items: center;
      flex-direction: column;
      justify-content: space-between;

      .user {
        text-align: center;
      }

      .remaining {
        text-align: right;
        font-size: 1.5rem;
        font-weight: 700;
      }
      .days {
        text-align: right;
        font-weight: 700;
      }
      .returned {
        text-align: right;
        color: green;
        font-size: 1.3rem;
        font-weight: 600;
      }
    }
  }
}

.lending-show {
  margin-top: 20px;
  width: 100%;
  max-width: 800px;
  margin-inline: auto;

  &>* {
    text-align: center;
  }

  .title {
    font-size: 2rem;
    font-weight: 700;
  }

  .author {
    font-size: 1.5rem;
    margin-top: 0;
    font-weight: 300;
  }

  .cover {
    width: 200px;
    margin: 20px auto;
    
    &>* {
      margin-inline: auto;
    }
  }

  .created, .returned, .return {
    font-weight: 600;
  }
  
  button {
    width: 50%;
    margin-inline: auto;
    padding: 0.5rem 1rem;
    background-color: var(--olivine);
    cursor: pointer;

    &:hover {
      background-color: var(--tea-green);
    }
  }
}

