:root {
  --ghost-white: #e8e9f3ff;
  --gray-goose: #e2e2e8ff;
  --cool-gray: #9b9ece;
  --marian-blue: #4a4f96;
  --french-gray: #5b5c71;
  --tea-green: #c3d3b1ff;
  --olivine: #9ebd6eff;
  --ut-orange: #ff8200ff;
  --brown: #985a1fff;
  --jet-black: #30323dff;
  --raisin-black: #272635ff;
}

body {
  background-color: var(--ghost-white);
  color: var(--raisin-black);
}
